#hideAll {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: var(--cocoabean);
    z-index: 99;
    display: none;

    h1, p {
        text-align: center;
        color: var(--mistyrose);
        font-family: "DM Sans";
    }

    .buffer-elem {
        vertical-align: middle;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        display: none;
    }

    50% {
        opacity: 0.5;
        display: block;
    }

    100% {
        opacity: 1;
        display: block;
    }
}

.loader {
    margin: 20px;
    vertical-align: middle;
    margin: 0 auto;
    border: 20px solid var(--mistyrose);
    border-radius: 50%;
    border-top: 20px solid var(--rosybrown);
    width: 100px;
    height: 100px;
    animation: spinner 4s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

