// Checked
// Might just merge this into layout

// DM San Serif
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
// DM Sans
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000');

$cocoabean:#511A18;
$mistyrose:#FFE6E5;
$rosybrown: #B8817F;

$dmserif: "DM Serif Display", serif;
$dmsans: "DM Sans", sans-serif;

$screen-break: 780px;
$max-width: 1000px;

#msg-container {
    max-width: $max-width;
    grid-template-columns: repeat(3, 1fr);
    @media (max-width: $screen-break) {
        grid-template-columns: repeat(2, 1fr);
        max-width: $screen-break;
    }
}

.title_icon {
    width:40px;
    vertical-align: center;
    text-align: center;
}

header>h1 {
    text-align: center;
}

body {
    background-color: var(--mistyrose);
}

#msg-container {
    gap: 0.5rem;
    display: grid;
    margin: 0 auto;
}

hr {
    margin-top: 20px;
    margin-bottom: 40px;
    background: url('../images/plane.png') no-repeat top right;
    background-size: contain;
    display: block;
    height: 20px;
    border: 0;
    position: relative;
    width: 90%;
    top: 0;
}

hr:before,
hr:after {
    content: '';
    display: block;
    position: absolute;
    background: var(--cocoabean);
    height: 3px;
    top: 8px;
}

hr:before {
    left: 0;
    right: 50%;
}

hr:after {
    right: 0;
    left: 50%;
}
