// Checked

h1 {
    font-family: $dmserif;
    font-size: 50px;
    color: $cocoabean;
    @media (max-width: $max-width) {
        font-size: 30px;
    }
}

p,
#nameLabel {
    font-family: $dmserif;
    font-size: 24px;
    color: $cocoabean;
    @media (max-width: $max-width) {
        font-size: 16px;
    }
}

input[type='text']::placeholder,
textarea::placeholder,
select,
input[type='text']:focus,
textarea:focus,
input[type='text'],
textarea,
button,
#questionPrompt,
#choices {
    font-family: $dmsans;
    color: $rosybrown;
    font-size: 18px;
    @media (max-width: $screen-break) {
        font-size: 12px;
    }
}

#nameLabel {
    padding: 5px;
    display: inline-block;
    text-align: left;
}

button,
#questionPrompt,
#choices {
    color: $cocoabean;
}

#choices {
    text-align: left;
}

.card-preview {
    .date {
        font-family: $dmsans;
    }
    p {
        font-size: 18px;
    }
}

#card-popup {
    color: $cocoabean;
    .popup-head {
        font-size: 24px;
        font-family: $dmserif;
        @media (max-width: $screen-break) {
            font-size: 18px;
        }
    }
    .popup-text {
        font-size: 18px;
        font-family: $dmsans;
        @media (max-width: $screen-break) {
            font-size: 12px;
        }
    }
    #popup-msg {
        color: $rosybrown;
        word-wrap: break-word;
    }
}